// colors
$black: #000000;
$butfon:#FFFFFF;
$backpick: #EFEFEF;
$sale:#FADE4B;
$saler: #FB000F;
$canon: #CC2229;
$penta: #EA2626;
$nisope: #000000;
$select: rgba(255, 255, 255, 0.2);
$coloa:#99938A;
$price:rgba(0, 0, 0, 0.5);
$form:#E6E6E6;
$input:#F7F7FA;



// fonts
$fs14:14px;
$fs16:16px;
$fs18:18px;
$fs21:21px; 
$fs24:14px;
$fs26:26px;
$fs32:32px;
$fs36:36px;

$ff:'Roboto', sans-serif;



// container
$container:1300px;

// bold
$normal:400;
$sami-bold:500;
$bold:700;
