* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header,
.footer {
    background-color: rgb(216, 104, 210);
    height: 50px;
    font-size: 26px;
    text-align: center;
}

.menu {
    width: 200px;
    float: left;
    background: rgb(137, 241, 77);
}

.content {
    background-color: #fffff;
    margin-left: 200px;
}

.button{
    width: 147px;
    height: 109px;
    border-radius: 9px;
     background-color: #6fb85d;
     position: fixed;
     top: 15px;
     right: 47px;
}
.green{
    text-align: center; 
    color: blue;
    list-style-type: none;
    padding: 5px;
    font-size: 20px;
    text-decoration: underline;
}
.green ul li a{
    font-size: 34px;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.ball {
    float: left;
    padding: 10px;
}

.title {
    text-align: center;
    font-weight: bolder;
}

.links {
    list-style-type: square;
    padding: 45px;
}