* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header,
.footer {
    height: 50px;
    background-color: rgb(232, 243, 83);
    text-align: center;
}

.content_wrap {
    background-color: rgb(219, 129, 129);
}

.menu {
    width: 200px;
    float: left;
    background-color: darkturquoise;
}

.banner {
    width: 200px;
    float: right;
    background-color: rgb(240, 152, 240);
}

.content {
    background-color: rgb(238, 208, 132);
}

.clearfix::after {
    content: ".";
    display: block;
    clear: both;
}